@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.5rem;
  --background: oklch(0.984 0.003 247.858);
  --foreground: oklch(0.279 0.037 260.031);
  --card: oklch(0.279 0.037 260.031);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.279 0.037 260.031);
  --primary: oklch(0.837 0.164 84.429);
  --primary-hover: oklch(0.879 0.149 85.31);
  --primary-foreground: oklch(0.279 0.037 260.031);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px oklch(from var(--shadow-color) l c h / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(from var(--shadow-color) l c h / 0.05);
  --shadow-sm:
    0 1px 3px 0px oklch(from var(--shadow-color) l c h / 0.1),
    0 1px 2px -1px oklch(from var(--shadow-color) l c h / 0.1);
  --shadow:
    0 1px 3px 0px oklch(from var(--shadow-color) l c h / 0.1),
    0 1px 2px -1px oklch(from var(--shadow-color) l c h / 0.1);
  --shadow-md:
    0 1px 3px 0px oklch(from var(--shadow-color) l c h / 0.1),
    0 2px 4px -1px oklch(from var(--shadow-color) l c h / 0.1);
  --shadow-lg:
    0 1px 3px 0px oklch(from var(--shadow-color) l c h / 0.1),
    0 4px 6px -1px oklch(from var(--shadow-color) l c h / 0.1);
  --shadow-xl:
    0 1px 3px 0px oklch(from var(--shadow-color) l c h / 0.1),
    0 8px 10px -1px oklch(from var(--shadow-color) l c h / 0.1);
  --shadow-2xl: 0 1px 3px 0px oklch(from var(--shadow-color) l c h / 0.1);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-hover: oklch(0.95 0.01 255);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --shadow-color: oklch(0 0 0);
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@media (max-width: 1024px) {
  :root {
    font-size: 16px;
  }
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--color-border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--font-heading);
  font-weight: 500;
  color: var(--color-foreground);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
}

@media (max-width: 1024px) {
  h2 {
    font-size: 20px;
  }
}

p {
  margin: 0;
}

code,
.counter {
  font-family: var(--font-mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--color-foreground);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--color-muted);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
